{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'app_blog/style.css' %}">

    {% block head %}{% endblock %}

</head>
<body>
    {% include 'app_blog/components/header.html' %}
    
    <main class="p-4 h-screen">
        {% block content %}{% endblock %}
    </main>
    
    {% include 'app_blog/components/footer.html' %}
</body>
</html>