{% extends 'app_blog/base.html' %}

{% load static %}

{% block title %}
    Read All Record
{% endblock %}

{% block head %}{% endblock %}

{% block content %}
    <div>
        <table class="table">
          <thead>
            <tr>
              <th>Title</th>
              <th>Content</th>
            </tr>
          </thead>
          <tbody>
            {% for row in rows %}
              <tr>
                <td>{{ row.title }}</td>
                <td>{{ row.content }}</td>
              </tr>
            {% endfor %}
          </tbody>

        </table>
    </div>
{% endblock %}